<!-- <h1 mat-dialog-title>Hi {{data.name}}</h1> -->
<div mat-dialog-content>
	<p>{{data?.title}}</p>

  <mat-form-field>
    <input matInput type="text" placeholder="Node name" [(ngModel)]="form.key">
  </mat-form-field>

  <mat-form-field>
    <input matInput max="15" min="1" type="number" placeholder="Number of nodes" [(ngModel)]="form.limit">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Min value" [(ngModel)]="form.min">
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Max value" [(ngModel)]="form.max">
  </mat-form-field>

</div>


<div mat-dialog-actions>
	<button mat-button (click)="onNoClick()">Close</button>
	<button mat-button [mat-dialog-close]="form" cdkFocusInitial>Ok</button>
</div>


